<html>
<head class="navbar navbar-fixed-top navbar-inverse">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
              <li>Home</li>
              <li>Help</li>
            </ul>
          </nav>
        </div>
      </div>
</head>
<body>
	<h1>This is the home!</h1>
	<button type="button" class="btn btn-primary">Primary</button>
</body>
</html>
